[submodule "sites/default/extensions/com.chrischinchilla.civistats"]
	path = sites/default/extensions/com.chrischinchilla.civistats
	url = git://github.com/ChrisChinchilla/CiviStats.git
[submodule "sites/default/extensions/com.webaccessglobal.module.civimobile "]
	path = "sites/default/extensions/com.webaccessglobal.module.civimobile "
	url = git://github.com/webaccess/com.webaccessglobal.module.civimobile.git
[submodule "sites/default/extensions/com.chrischinchilla.fullmailstats"]
	path = sites/default/extensions/com.chrischinchilla.fullmailstats
	url = git://github.com/ChrisChinchilla/FullMailStats.git
