.rsr #sidebar-first
{
    width: 350px !important;
}

.rsr #content-column {
	width: 600px;
	max-width: 600px;
	min-width: 600px;
	margin-left:10px;
	margin-top: 20px;
}

#block-block-27
{
	padding-bottom: 0;
}

.rsr #sidebar-first .block {
	width: 350px;
}

.rsr #sidebar-first .block p {
	margin:0;
}

.rsr #branding {
	display: none;
}

.rsr .content-inner {
	border: 2px dashed #0a0a32;
}

.rsr #sidebar-first .block-inner {
	padding:0px;
}

/* Social blocks */
.rsr #block-service_links-service_links .service-links
{
	text-align:center;
}

.rsr #block-service_links-service_links iframe,
.rsr #block-service_links-service_links span.IN-widget,
.rsr #block-service_links-service_links div#___plusone_0
{
	/*width:80px !important;
	text-align: left !important;*/
}

/* membership form */

.rsr legend
{
	margin-bottom:10px;
}

.rsr #priceset .help
{
	background-color: #E9E9E9;
	background-image: none;
	border: none;
	border-radius: 0;
	padding: 15px;
	font-size: 12px;
	margin-bottom: 10px;
}

.rsr .crm_user-group, .custom_post_profile-group fieldset, .for_organization-group, .email-5-section, .is_for_organization-section, #membership fieldset, .is_pay_later-section {
	border:none;
	padding:0;
}

.rsr #crm-container fieldset {
	background: none;
	padding: 0px;
	margin: 10px 0px;
	border: none;
}

.rsr .radio_description
{
	font-size: 10px;
	clear: both;
	float: right;
	width: 300px;
	margin-left: 25px;
	margin-top: 2px;
}

.rsr .Select_membership_Type-content .price-set-row label,
.rsr .payment_options-group .content label
{
	margin:5px;
}

.rsr .payment_options-group .content input
{
	margin-top: 10px;
}

.rsr .Select_membership_Type-content .price-set-row
{
	margin-top: 10px;
	height: 40px;
}

.section-pricesetTotal
{
	font-weight: bold;
	font-size: 16px;
}

/* RSR Stories */

.rsr .field-wysiwyg-images-fid
{
	float:left;
	margin-right: 20px;
}

.rsr .body
{
}

.rsr .view-node {
	float: left;
	padding: 20px 30px 0px 0px;
}

.rsr .disqus-comments
{
	float: right;
	padding: 20px 30px 0px 0px;
}

.rsr .nothing
{
	font-size: 10px;
	float: right;
	text-align: right;
	width: 70px;
	height:150px
}